body{

margin:0;
background:#1f1f1f;
color:white;
font-family:sans-serif;
text-align:center;

}

#ui{

position:absolute;
top:20px;
width:100%;
display:flex;
justify-content:space-around;
font-size:28px;

}

canvas{

background:#2b2b2b;

}