PORT=3000
BOT_TOKEN=8649503171:AAEhNWvycmnm8CtX0FgxF7lHsu5LJcNM1W0
ALLOWED_ORIGIN=https://your-miniapp-domain.com

FIREBASE_PROJECT_ID=dunk-rise-5c1f2
FIREBASE_CLIENT_EMAIL=nikslastofearthsurvival@gmail.com
FIREBASE_PRIVATE_KEY="-----BEGIN PRIVATE KEY-----\nYOUR_KEY\n-----END PRIVATE KEY-----\n"
FIREBASE_DATABASE_URL=https://dunk-rise-5c1f2-default-rtdb.firebaseio.com
